.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-table-1 {
  width: 960px;
  margin: 90px auto 60px;
}

.u-block-34ff-193 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}